/*
https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html

#lineCountTextArea  .scroll-bar:vertical:disabled {
    -fx-opacity: 0.0;
}

#lineCountTextArea  .scroll-bar .increment-button {
  visibility: hidden;
  -fx-opacity: 0.0;
}

#lineCountTextArea  .scroll-bar .decrement-button {
  visibility: hidden;
  -fx-opacity: 0.0;
}

#lineCountTextArea  .scroll-bar:vertical {
  visibility: hidden;
  -fx-background-color: transparent;
  -fx-opacity: 0.0;
}

#lineCountTextArea  .scroll-bar:vertical .track-background {
  visibility: hidden;
  -fx-opacity: 0.0;
}

#lineCountTextArea  .scroll-bar:vertical .track {
  visibility: hidden;
  -fx-opacity: 0.0;
}

#lineCountTextArea  .hide-thumb .scroll-bar:vertical .thumb {
  visibility: hidden;
  -fx-background-color: transparent;
  -fx-opacity: 0.0;
}
*/

#lineCountTextArea .content {
    -fx-background-color: #b3b3b3;
}



#lineCountTextArea {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

#lineCountTextArea .scroll-pane {
  -fx-vbar-policy: never;
}

#lineCountTextArea .scroll-pane {
  -fx-vbar-policy: never;
}

#mainTextArea .scroll-pane {
  -fx-vbar-policy: always;
  -fx-hbar-policy: always;
}


.text-area:focused {
    -fx-highlight-fill: #476cbd;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #476cbd;
}

.text-area:disabled {
    -fx-opacity: 1.0;
}


